.add-all-button-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}

#remove-all-items {
    margin-left: 0;
}

.add-notification,
.remove-notification {
    background: white;
    border: 2px solid green;
    color: black;
    display: none;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    padding: 0.4rem 2rem;
}


.clear--both {
    clear: both;
}
